* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1d1c1c;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  position: relative;
  width: 60vw;
  height: 80vh;
  border-radius: 10px;
  box-shadow: 1px 1px 20px 13px;
  cursor: pointer;
}
.image-container-original,
.image-container-edited {
  position: absolute;
  width: 60vw;
  height: 80vh;
}

.image-container-original {
  width: 30vw;
  overflow: hidden;
}

img {
  border-radius: 10px;
  width: 60vw;
  height: 80vh;
}

.slider {
  width: 7px;
  background: white;
  border-radius: 10px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  pointer-events: none;
}
